<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="SLF4J"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.example.spring.domain.RecommendStock" alias="RecommendStock"/>
        <typeAlias type="com.example.spring.domain.Stock" alias="Stock"/>
        <typeAlias type="com.example.spring.domain.Portfolio" alias="Portfolio"/>
        <typeAlias type="com.example.spring.domain.User" alias="User"/>
        <typeAlias type="com.example.spring.domain.DailyReport" alias="DailyReport"/>
        <typeAlias type="com.example.spring.domain.Question" alias="Question"/>
        <typeAlias type="com.example.spring.domain.QuestionOption" alias="QuestionOption"/>
        <typeAlias type="com.example.spring.vo.UserAnswerVO" alias="UserAnswerVO"/>
        <typeAlias type="com.example.spring.dto.FindIdRequestDTO" alias="FindIdRequestDTO"/>
        <typeAlias type="com.example.spring.dto.FindPasswordRequestDTO" alias="FindPasswordRequestDTO"/>
        <typeAlias type="com.example.spring.domain.SelectedTerms" alias="SelectedTerms"/>
        <typeAlias type="com.example.spring.domain.TermsOfUse" alias="TermsOfUse"/>
        <typeAlias type="com.example.spring.dto.MemberDTO" alias="MemberDTO"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/StockMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/TermsOfUseMapper.xml"/>
    </mappers>
</configuration>
