<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.example.spring.vo.RecommendStockVO" alias="RecommendStockVO"/>
        <typeAlias type="com.example.spring.vo.StockVO" alias="StockVO"/>
        <typeAlias type="com.example.spring.vo.OrderVO" alias="OrderVO"/>
        <typeAlias type="com.example.spring.vo.UserVO" alias="UserVO"/>
        <typeAlias type="com.example.spring.vo.DailyReportVO" alias="DailyReportVO"/>
        <typeAlias type="com.example.spring.vo.PortfolioVO" alias="PortfolioVO"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/StockMapper.xml"/>
        <mapper resource="mapper/UserMapper.xml"/>
        <mapper resource="mapper/OrderMapper.xml"/>
        <mapper resource="mapper/InterestCategoryMapper.xml"/>
        <mapper resource="mapper/DailyReportMapper.xml"/>
    </mappers>
</configuration>
