<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring.mapper.NotificationMapper">

    <!-- 특정 사용자의 알림 목록 불러오기 -->
    <select id="getNotificationsByUserId" resultType="Notification">
        SELECT NOTIFICATION_ID, USER_ID, MESSAGE, MESSAGE_TYPE, READED, CREATED_AT, UPDATED_AT
        FROM NOTIFICATION
        WHERE USER_ID = #{userId}
    </select>

    <!-- 특정 알림 삭제 -->
    <delete id="deleteNotificationById">
        DELETE FROM NOTIFICATION
        WHERE NOTIFICATION_ID = #{notificationId} AND USER_ID = #{userId}
    </delete>

    <!-- 특정 사용자의 모든 알림 삭제 -->
    <delete id="deleteAllNotificationsByUserId">
        DELETE FROM NOTIFICATION
        WHERE USER_ID = #{userId}
    </delete>

</mapper>
