<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring.mapper.PortfolioHistoryMapper">
    <!-- 사용자 프로필을 조회하는 쿼리 -->
    <select id="selectAllUserIds" resultType="String">
        SELECT DISTINCT USER_ID
        FROM PORTFOLIO

    </select>
    <!-- 사용자별 종목별 거래 내역 가져오기 -->
    <select id="getOrdersByUserAndStock" parameterType="string" resultType="OrderVO">
        SELECT
            USER_ID,
            STOCK_ID,
            ORDER_TYPE,
            PRICE,
            QUANTITY,
            ORDERED_AT
        FROM
            PORTFOLIO
        WHERE
            USER_ID = #{userId}
        ORDER BY
            ORDERED_AT ASC
    </select>

    <!-- 특정 종목의 종가 가져오기 -->
    <select id="getStockClosingPrice" resultType="long" parameterType="map">
        SELECT
            CURRENT_PRICE
        FROM
            STOCK_HISTORY
        WHERE
            STOCK_ID = #{stockId}
          AND DATE(CREATED_AT) = DATE(#{date})
        ORDER BY
            CREATED_AT DESC
            LIMIT 1
    </select>

    <!-- Portfolio_history에 데이터 삽입 -->
    <insert id="insertPortfolioHistory">
        INSERT INTO PORTFOLIO_HISTORY (
            PORTFOLIO_ID,
            DAILY_PROFIT,
            DAILY_PROFIT_RATE
        ) VALUES (
                     #{portfolioId},
                     #{dailyProfit},
                     #{dailyProfitRate}
                 )
    </insert>

    <select id="findByMyStockList" resultType="MyStockDTOTest">
        SELECT s.stock_Name,
               SUM(CASE WHEN o.order_type = 'B' THEN o.quantity ELSE 0 END) -
               SUM(CASE WHEN o.order_type = 'S' THEN o.quantity ELSE 0 END) AS total_quantity
        FROM `PORTFOLIO` o
                 JOIN `STOCK` s ON o.stock_Id = s.stock_Id
        WHERE o.user_Id = #{userId} AND s.stock_Name LIKE CONCAT('%', #{stockName}, '%')
        GROUP BY s.stock_Name
        HAVING total_quantity > 0;
    </select>
</mapper>