<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring.mapper.ProfileEditMapper">

    <!-- 특정 사용자 ID로 프로필 정보를 조회하는 SQL -->
    <select id="getProfileByUserId" parameterType="string" resultType="com.example.spring.dto.ProfileEditDTO">
        SELECT name, nickname, phone_first, phone_middle, phone_last, profile_image_url, birth_date
        FROM USER
        WHERE user_id = #{userId}
    </select>

    <!-- 특정 사용자 ID로 프로필 정보를 업데이트하는 SQL -->
    <update id="updateProfile">
        UPDATE USER
        SET name = #{profileEditDTO.name},
        nickname = #{profileEditDTO.nickname},
        phone_first = #{profileEditDTO.phoneFirst},
        phone_middle = #{profileEditDTO.phoneMiddle},
        phone_last = #{profileEditDTO.phoneLast},
        profile_image_url = #{profileEditDTO.profileImageUrl},
        birth_date = #{profileEditDTO.birthDate},
        UPDATED_AT = CURRENT_TIMESTAMP()
        WHERE user_id = #{userId}
    </update>
</mapper>
