<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring.mapper.SearchStockMapper">
    <select id="findByStockName" resultType="StockDTO">
        SELECT SHORT_CODE, STOCK_NAME, STOCK_ID
        FROM STOCK
        WHERE STOCK_NAME LIKE CONCAT(#{stockName}, '%')
    </select>
</mapper>
