<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring.mapper.StockMapper">
    <resultMap id="selectListRecommendStockByUserIdResultMap" type="DailyStockDTO" autoMapping="true">
        <id property="day" column="day"/>
        <collection property="dailyRecommendStockDTOList" ofType="DailyRecommendStockDTO" autoMapping="true">
        </collection>
    </resultMap>

    <resultMap id="selectListPortfolioByUserIdResultMap" type="Stock" autoMapping="true">
        <id property="stockId" column="stockId"/>
        <collection property="portfolioList" ofType="Portfolio" autoMapping="true">
        </collection>
    </resultMap>
    <select id="selectListRecommendStockByUserId" parameterType="map"
            resultMap="selectListRecommendStockByUserIdResultMap">
        SELECT DATE_FORMAT(createdAt, '%d') AS day
        , shortCode
        , stockName
        , content
        , price
        , (tb.closedPrice - tb.price) AS changeAmount
        , TRUNCATE((tb.closedPrice - tb.price) / tb.price, 2) AS changeAmountRate
        FROM (SELECT s.STOCK_ID AS stockId
        , s.SHORT_CODE AS shortCode
        , s.STOCK_NAME as stockName
        , rs.RECOMMEND_STOCK_ID AS recommendStockId
        , rs.CONTENT AS content
        , rs.PRICE AS price
        , (SELECT CLOSED_PRICE
        FROM STOCK_HISTORY sh
        WHERE STOCK_HISTORY_ID = (SELECT MAX(STOCK_HISTORY_ID)
        FROM STOCK_HISTORY sh
        WHERE sh.STOCK_ID = s.STOCK_ID
        AND sh.SHORT_CODE = s.SHORT_CODE)
        AND sh.STOCK_ID = s.STOCK_ID
        AND sh.SHORT_CODE = s.SHORT_CODE) AS closedPrice
        , rs.CREATED_AT AS createdAt
        FROM RECOMMEND_STOCK rs
        JOIN STOCK s ON rs.STOCK_ID = s.STOCK_ID
        WHERE USER_ID = #{userId}
        <choose>
            <when test="date != null and date != ''">
                AND DATE_FORMAT(rs.CREATED_AT, '%Y-%m-%d') LIKE CONCAT('%', #{date}, '%')
            </when>
            <otherwise>
                AND DATE_FORMAT(rs.CREATED_AT, '%Y-%m-%d') = DATE_FORMAT(CURRENT_TIMESTAMP, '%Y-%m-%d')
            </otherwise>
        </choose>
        ) tb
        ORDER BY 1 DESC
    </select>
    <select id="findByStockId" parameterType="Long" resultType="Stock">
        SELECT *
        FROM STOCK
        WHERE STOCK_ID = #{stockId}
    </select>
    <insert id="insert" parameterType="Stock">
        INSERT INTO STOCK
        (STANDARD_CODE, SUB_CATEGORY_ID, STOCK_NAME, SHORT_CODE, STOCK_EXCHANGE_MARKET, MARKET_CAPITALIZATION,
        STOCK_TRADE_STATUS)
        VALUES
        (#{standardCode}, #{subCategoryId}, #{stockName}, #{shortCode}, #{stockExchangeMarket}, #{marketCapitalization},
        #{stockTradeStatus})
    </insert>
    <select id="findShortCodeByStockId" parameterType="Long" resultType="string">
        SELECT SHORT_CODE
        FROM STOCK
        WHERE STOCK_ID = #{stockId}
    </select>
</mapper>
