<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring.mapper.StockHistoryMapper">
    <select id="findByStockId" parameterType="map" resultType="StockHistory">
        SELECT *
        FROM STOCK_HISTORY
        WHERE STOCK_ID = #{stockId}
        AND
        STR_TO_DATE(SUBSTRING(STOCK_HISTORY_ID, 1, 8), '%Y%m%d')
        BETWEEN #{startDate} AND #{endDate}
    </select>
    <select id="findRecentPriceByStockIdAndShortCode" parameterType="map" resultType="long">
        SELECT CLOSED_PRICE
        FROM STOCK_HISTORY
        WHERE STOCK_HISTORY_ID =
        (SELECT MAX(STOCK_HISTORY_ID)
        FROM STOCK_HISTORY
        WHERE STOCK_ID = #{stockId} AND SHORT_CODE = ${shortCode})
        AND STOCK_ID = #{stockId} AND SHORT_CODE = ${shortCode}
    </select>
</mapper>
