<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spring.mapper.SurveyResultMapper">

    <!-- 투자 유형 답변 삽입 쿼리 -->
    <insert id="insertInvestmentTypeAnswer" parameterType="com.example.spring.domain.InvestmentTypeAnswer">
        INSERT INTO INVESTMENT_TYPE_ANSWER (USER_ID, INVESTMENT_TYPE_ID, CREATED_AT, UPDATED_AT)
        VALUES (#{userId}, #{investmentTypeId}, NOW(), NOW())
    </insert>

    <!-- 투자 유형 답변 업데이트 쿼리 -->
    <update id="updateInvestmentTypeAnswer" parameterType="com.example.spring.domain.InvestmentTypeAnswer">
        UPDATE INVESTMENT_TYPE_ANSWER
        SET INVESTMENT_TYPE_ID = #{investmentTypeId}, UPDATED_AT = NOW()
        WHERE USER_ID = #{userId}
    </update>

    <!-- 총 점수를 계산하는 쿼리 -->
    <select id="getTotalScore" resultType="int" parameterType="string">
        SELECT SUM(questionOption.SCORE)
        FROM USER_ANSWER userAnswer
        JOIN QUESTION_OPTION questionOption ON userAnswer.QUESTION_OPTION_ID = questionOption.QUESTION_OPTION_ID
        WHERE userAnswer.USER_ID = #{userId}
    </select>

    <!-- 점수에 따른 투자 유형 조회 쿼리 -->
    <select id="getInvestmentTypeByScore" resultType="com.example.spring.dto.InvestmentTypeDTO" parameterType="int">
        SELECT *
        FROM INVESTMENT_TYPE
        WHERE
        (INVESTMENT_TYPE_ID = 1 AND #{totalScore} &lt;= 20)
        OR (INVESTMENT_TYPE_ID = 2 AND #{totalScore} &gt; 20 AND #{totalScore} &lt;= 40)
        OR (INVESTMENT_TYPE_ID = 3 AND #{totalScore} &gt; 40 AND #{totalScore} &lt;= 60)
        OR (INVESTMENT_TYPE_ID = 4 AND #{totalScore} &gt; 60 AND #{totalScore} &lt;= 80)
        OR (INVESTMENT_TYPE_ID = 5 AND #{totalScore} &gt; 80)
    </select>

    <!-- 사용자 ID로 투자 유형 ID 가져오기 -->
    <select id="getInvestmentTypeByUserId" parameterType="String" resultType="Long">
        SELECT INVESTMENT_TYPE_ID
        FROM INVESTMENT_TYPE_ANSWER
        WHERE USER_ID = #{userId}
    </select>

    <!-- 투자 유형 ID로 투자 유형 상세 정보 가져오기 -->
    <select id="getInvestmentTypeDetails" parameterType="Long" resultType="com.example.spring.dto.InvestmentTypeDTO">
        SELECT *
        FROM INVESTMENT_TYPE
        WHERE INVESTMENT_TYPE_ID = #{investmentTypeId}
    </select>

    <select id="getUserNickname" resultType="String">
        SELECT NICKNAME FROM USER WHERE USER_ID = #{userId}
    </select>

</mapper>
