<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.spring.mapper.TermsOfUseMapper">
    <select id="selectListTermsOfUseByRequired" parameterType="string" resultType="TermsOfUse">
        SELECT *
        FROM TERMS_OF_USE
        WHERE REQUIRED = #{required}
    </select>

    <select id="selectListTermsOfUse" resultType="TermsOfUse">
        SELECT *
        FROM TERMS_OF_USE
    </select>
</mapper>
